name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Tools
        run: |
          sudo apt update
          sudo apt install -y build-essential git python3 python3-dev zip unzip openjdk-17-jdk
          pip3 install --user --upgrade buildozer cython==0.29.33 kivy requests
      - name: Build
        run: |
          yes | /home/runner/.local/bin/buildozer -v android debug
